html
  //font-size: 62.5%
  background: #363636
  color: #fff

body
  line-height: normal
  

.container
  @media screen and (max-width: 1023px)
    width: 100%

.slick-slide
  div
    float: left
  a
    float: left
    width: 100%
    overflow: hidden
    img
      display: block
      width: 100%
      transition: all .4s
      opacity: 0.8
  @media screen and (min-width: 1024px)
    &:hover
      img
        opacity: 1
        transform: scale(1.05)

.slick-arrow
  width: 3rem
  height: 3rem
  &:before
    font-size: 3rem

  &.slick-next
    right: -3.5rem

  &.slick-prev
    left: -3.5rem

.slick-dots
  li
    margin: 0
    button
      &:before
        color: #fff

    &.slick-active
      button
        &:before
          color: #fff